
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	justify-content: center;
	user-select: none;
	overflow: hidden;
	touch-action: none;
	}

body {
	background-color: #d6e3e4;
}

h1{
	font-family: 'Alata', sans-serif;
	padding: 10px;
	border-bottom: 2px solid rgb(0,0,0,0.1);
	font-size: 50px;
	max-width: 700px;
	margin: auto;
	transition: 1s;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin: 0 20px 0 20px;
}

.column {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 10px;
	margin: auto;
}

.urlVideo {
	width: 60%;
	max-width:  400px;
	min-width: 300px;
	margin: auto;
	margin-top: 50px;
	padding: 7px;
	margin-right: 10px;
	margin-left: 10px;
	border: none;
	border-radius: 10px;
	z-index:  300;
}

.botton {
	width: 200px;
	margin: auto;	
	margin-top: 10px;
	background-color: #f2d6e3;
	padding: 5px;
	border: 1px solid rgb(0,0,0,0.1);
	border-radius: 10px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 15px;
	padding: 4px;
	z-index: 300;
}

.botton:hover {
	background-color: #e2d6e3;
}

.botton:active {
	background-color: tomato;
	color: white;
}

.container {
	background-color: rgb(200,200,200);
	/*margin: auto;*/
	margin-top: 30px;
	margin-left: 25%;
	transform: translateX(-13px);
	width: 160px;
	height: 90px;
	display: flex;
    position: relative;
    overflow: visible;
    /*background*/
    background-image: url("./touchIcon.jpg");
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-blend-mode: darken;
}


@media only screen and (max-width: 700px) {

	h1 {
		font-size: 35px;
	}
	.container {
		margin-left: 20px;
	}

}


.flecha{
	width: 28px;
	height: 100%;
	background-color: transparent;
	position: absolute;
	overflow: visible;
	margin: auto;
	bottom: 0px;
	right: -28px;
	z-index: 100;
	cursor: nwse-resize;
	box-shadow: inset 0 -30px 0 -1px red;
}

.flecha::before {
	content: "";
	width: 800px;
	height: 100%;
	background-color: transparent;
	position: absolute;
	margin: auto;
	bottom: 0px;
	right: -28px;
}

.flecha::after {
	content: " ";
	width: 16px;
	height: 16px;
	background-color: transparent;
	box-shadow:  6px 6px 0 -2px white,
							 -6px -6px 0 -2px white;
	margin: auto;
	position: absolute;
	transform:  rotate(180deg) scale(0.7);
	bottom: 6px;
	right: 6px;
}


.embedVideo {
	width: 100%;
	height: 100%;
	z-index: 20;
}

.size {
	width: 100px;
	height: 20px;
	margin: auto;
	margin-top: 10px;
	background-color: #9e9f95;
	color: white;
	text-transform: uppercase;
	font-family: arial;
	text-align: center;
	font-size: 18px;
	padding: 5px;
	border-radius: 10px;
}

.copyBtn {
	width: 80px;
	height: 30px;
	border-radius: 10px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding: 4px;
	margin: auto;
	margin-bottom: -30px;
	z-index: 20;
	transform: translate(120px);
	background-color: #f2d6e3;
}

.copyBtn:hover {
	background-color: #e2d6e3;
}

.copyBtn:active {
	background-color: tomato;
	color: white;
}


.code {
	width: 300px;
	height: 70px;
	margin: auto;
	margin-top: 10px;
	resize: none;
	padding: 10px;
	border-radius: 10px;
	overflow: hidden;
	font-size: 10px;
	text-align: left;
}

